In [38]:
import pandas as pd
import librosa
import numpy as np
import matplotlib.pyplot as plt
import os
import torch
import torch.nn as nn
import yaml
from torch.utils.data import DataLoader
from tqdm.notebook import tqdm

In [2]:
train_tp = pd.read_csv('../input/rfcx-species-audio-detection/train_tp.csv')
train_fp = pd.read_csv('../input/rfcx-species-audio-detection/train_fp.csv')

In [31]:
tmp = pd.DataFrame(train_tp["recording_id"].value_counts()).reset_index().rename(columns={'index': 'recording_id', "recording_id": "count"})
train_tp = pd.merge(train_tp, tmp, on="recording_id", how='inner')
# train_tp

In [33]:
train_tp[train_tp["count"] > 1]

,recording_id,species_id,songtype_id,t_min,f_min,t_max,f_max,count
19,03b96f209,16,4,30.9333,3093.75,32.7680,4593.75,2
20,03b96f209,16,4,49.6320,3093.75,51.4667,4593.75,2
28,053aeb7bd,23,4,9.8569,6459.96,17.7807,11627.90,2
29,053aeb7bd,23,4,0.9520,6459.96,8.8758,11627.90,2
75,11c2c02e5,15,1,17.6587,93.75,21.0027,1125.00,2
...,...,...,...,...,...,...,...,...
1154,ee3dc0bc6,17,1,47.0720,1312.50,53.5253,3937.50,2
1173,f3f82b897,19,1,53.7227,281.25,55.2747,2812.50,2
1174,f3f82b897,19,1,51.7013,281.25,53.2533,2812.50,2
1191,f97ababc1,15,1,10.8853,93.75,14.2293,1125.00,2
1192,f97ababc1,15,1,9.1200,93.75,12.4640,1125.00,2

In [37]:
train_tp["count"].value_counts()

1    1065
2     110
3      24
4      12
5       5
Name: count, dtype: int64

In [ ]:
path = "../input/rfcx-species-audio-detection/train/0a4e7e350.flac"
librosa.load()

In [39]:
train_path_list = os.listdir("../input/rfcx-species-audio-detection/train")
test_path_list = os.listdir("../input/rfcx-species-audio-detection/test")
print(f"train:{len(train_path_list)}, test:{len(test_path_list)}")

train:4727, test:1992